<div class="container">
  <div class="row">
      <div class="table">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Name</th>
              <th>Address</th>
              <th>Order Number</th>
              <th>Order Date</th>
              <!-- Or you can do this directly rather than using sort-by directive -->
              <th (click)="sort('orderTotal')">Order Total</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of orders">
              <td><a [routerLink]="['/orders',order.orderNumber,'details']">{{ order.shipping.name }}</a></td>
              <td>{{ order.shipping.address1 }}</td>
              <td>{{ order.orderNumber}}</td>
              <td>{{ order.orderDate | date: 'medium'}}</td>
              <td>{{ order.orderTotal | currency:'USD':'symbol' }}</td>
              <td><button type="button" class="btn btn-link" routerLink="details">View Details</button></td>
            </tr>
            <tr *ngIf="!orders.length">
              <td>&nbsp;</td>
              <td colspan="7">No Records Found</td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
</div>