.cart-page-content {
    max-width:940px;
    margin:30px 70px;
    background-color: white;
    padding:60px;
}
.item-remove {
    font-size: 30px;
    color:#9f9f9f;
    cursor:pointer;
}
.item-remove:hover {
    color:black;
}